<a href="https://colab.research.google.com/github/Rudra2612/Hello_World/blob/main/lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("rudra")

rudra

In [ ]:
# list

a=[12,34,56,8,2,56,123,5,78,2,-2,57,13,45,76,123,34,65,34,1,123,56,23,345,24,345,235]
print(a)
a.append(90)
print('insert value on last position(append(val)) :',a)
print('length of a(len(variable of list)) :',len(a))
a.insert(1,123)
print('insert value on particular position(insert(pos,val)) :',a)
a[0]=7
print('change value of 0 position(a[0]) :',a)
a.pop()
print('delete value on last position(pop()) :',a)
a.pop(2)
print('delete value of particular position(pop(pos)) :',a)
a.remove(2)
print('delete value pass on method/funtion(remove(val)) :',a)
print('maximum number of list(max(variable of list)) :',max(a))
print('minimum number of list(min(variable of list)) :',min(a))
print('sum of all number in list(sum(variable of list)) :',sum(a))
a.sort()
#minmum to maximum
print('sort data of list(sort()) :',a)
a.sort(reverse=True)
#maximum to minimum
print('sort data in reverse order in list(sort(revderse=True)) :',a)
b=[12,23,34,45]
a.extend(b)
#list 'b' add in list 'a'
print('add a list in another list after last position(extend(variable of list)) :',a)
z=a.copy()
print('copy list in another list(copy()) :',z)
y=a.index(123)
print('find index of paricular value(index(val)) :',y)
x=a.count(123)
print('find how many times particular value occurs in list(count(val)) :',x)

[12, 34, 56, 8, 2, 56, 123, 5, 78, 2, -2, 57, 13, 45, 76, 123, 34, 65, 34, 1, 123, 56, 23, 345, 24, 345, 235]
insert value on last position(append(val)) : [12, 34, 56, 8, 2, 56, 123, 5, 78, 2, -2, 57, 13, 45, 76, 123, 34, 65, 34, 1, 123, 56, 23, 345, 24, 345, 235, 90]
length of a(len(variable of list)) : 28
insert value on particular position(insert(pos,val)) : [12, 123, 34, 56, 8, 2, 56, 123, 5, 78, 2, -2, 57, 13, 45, 76, 123, 34, 65, 34, 1, 123, 56, 23, 345, 24, 345, 235, 90]
change value of 0 position(a[0]) : [7, 123, 34, 56, 8, 2, 56, 123, 5, 78, 2, -2, 57, 13, 45, 76, 123, 34, 65, 34, 1, 123, 56, 23, 345, 24, 345, 235, 90]
delete value on last position(pop()) : [7, 123, 34, 56, 8, 2, 56, 123, 5, 78, 2, -2, 57, 13, 45, 76, 123, 34, 65, 34, 1, 123, 56, 23, 345, 24, 345, 235]
delete value of particular position(pop(pos)) : [7, 123, 56, 8, 2, 56, 123, 5, 78, 2, -2, 57, 13, 45, 76, 123, 34, 65, 34, 1, 123, 56, 23, 345, 24, 345, 235]
delete value pass on method/funtion(remove(val)) : [7, 123, 56, 8, 56, 123, 5, 78, 2, -2, 57, 13, 45, 76, 123, 34, 65, 34, 1, 123, 56, 23, 345, 24, 345, 235]
maximum number of list(max(variable of list)) : 345
minimum number of list(min(variable of list)) : -2
sum of all number in list(sum(variable of list)) : 2055
sort data of list(sort()) : [-2, 1, 2, 5, 7, 8, 13, 23, 24, 34, 34, 45, 56, 56, 56, 57, 65, 76, 78, 123, 123, 123, 123, 235, 345, 345]
sort data in reverse order in list(sort(revderse=True)) : [345, 345, 235, 123, 123, 123, 123, 78, 76, 65, 57, 56, 56, 56, 45, 34, 34, 24, 23, 13, 8, 7, 5, 2, 1, -2]
add a list in another list after last position(extend(variable of list)) : [345, 345, 235, 123, 123, 123, 123, 78, 76, 65, 57, 56, 56, 56, 45, 34, 34, 24, 23, 13, 8, 7, 5, 2, 1, -2, 12, 23, 34, 45]
copy list in another list(copy()) : [345, 345, 235, 123, 123, 123, 123, 78, 76, 65, 57, 56, 56, 56, 45, 34, 34, 24, 23, 13, 8, 7, 5, 2, 1, -2, 12, 23, 34, 45]
find index of paricular value(index(val)) : 3
find how many times particular value occurs in list(count(val)) : 4

In [ ]:
# tuple

x=(12,23,34,45)
print(x)
print(max(x))
print(min(x))
print(sum(x))
print(len(x))

(12, 23, 34, 45)
45
12
114
4

In [ ]:
# set

a={12,23,34,455,65,67,12}
# In set no particular index for value
'''set only have unique value. it not contain repetitive values.
  if any repetitive values are in set,it aotomatically remove it.'''
print(a)
print(len(a))
print(max(a))
print(min(a))
print(sum(a))
a.add(24)
print('add value un set :',a)
a.pop()
print('remove value in set :',a)
a.remove(23)
# it shows error if value not found in set which you want to remove.
print('remove paricular value in set (23) :',a)
a.discard(234)
# it remove the value if set have that value otherwise it not show any error.
print('remove paricular value in set (234) :',a)


x1={12,23,34,45,56,67}
x2={12,67,89,27,37,59,125}
a=x1.union(x2)
# all value at one time from x1 & x2 sets.
b=x1.intersection(x2)
# commom value in x1 & x2 sets.
print("union of x1 & x2 :",a)
print('intersection of x1 & x2 :',b)

{65, 34, 67, 23, 455, 12}
6
455
12
656
add value un set : {65, 34, 67, 23, 455, 24, 12}
remove value in set : {34, 67, 23, 455, 24, 12}
remove paricular value in set (23) : {34, 67, 455, 24, 12}
remove paricular value in set (234) : {34, 67, 455, 24, 12}
union of x1 & x2 : {34, 67, 37, 59, 12, 45, 23, 56, 89, 27, 125}
intersection of x1 & x2 : {67, 12}

In [ ]:
# dict

a={'name':'rudra','age':20}
print(a)
print(a['name'])
print(a['age'])

a={'name':['rudra','vismay','mayank','harshil'],'age':[20,19,21,18]}
print(a)
print(a['name'])
print(a['age'])
print('age of harshil :',a['age'][a['name'].index('harshil')])

a['income'] = [20000,30000,12000,15000]
print(a)
# a.pop('age')
del a['age']
print(a)

print(a.keys())
print(a.values())

{'name': 'rudra', 'age': 20}
rudra
20
{'name': ['rudra', 'vismay', 'mayank', 'harshil'], 'age': [20, 19, 21, 18]}
['rudra', 'vismay', 'mayank', 'harshil']
[20, 19, 21, 18]
age of harshil : 18
{'name': ['rudra', 'vismay', 'mayank', 'harshil'], 'age': [20, 19, 21, 18], 'income': [20000, 30000, 12000, 15000]}
{'name': ['rudra', 'vismay', 'mayank', 'harshil'], 'income': [20000, 30000, 12000, 15000]}
dict_keys(['name', 'income'])
dict_values([['rudra', 'vismay', 'mayank', 'harshil'], [20000, 30000, 12000, 15000]])

In [ ]:
'''
Conditions:-
    1. if(condition):

    2. if(condition):
      else:

    3. if(condition):
      elif(condition):
      else:

    4. if(condition):
        if(condition):
        else:
      else:
        if(condition):
        else:
'''

In [ ]:
'''
Operator:-
    1. arithmetic operator:
            +   -   *   /   %   **   //
    2. comparison operator:
            =   !=   <   >   <=   >=
    3. assignment operator:
            =   +=   -=   *=   /=   %=   **=   //=
    4. logical operator:
            and   or   not
    5. membership operator:
            in   not in
    6. identity operator:
            is   is not
    7. bitwiae operator:
            &   |    ^   ~   <<   >>
'''

In [ ]:
'''
Funtion:-
print() - It is used for print the values to a stream.
type()  - it is used for see object's data type.
input() - It is used for take value from user and by default data type of it is str.
id()    - It is used for find memory location of variable.
int()   - It is used for convert data type of value to int.
float() - It is used for convert data type of value to float.
str()   - It is used for convert data type of value to str.
len()   - It is used for find length of string, list, tuple, set.
'''

In [ ]:
'''
Loops:-
1. for loop:
      syntax,
          for variable_name in range(starting_point,ending_point,step):
          for variable_name in name_of_string/name_of_list:
2. while loop:
      syntax,
          initializ_variable
          while(condition):
            increment/decrement
'''

In [ ]:
# task of for loop:-

# task-1:
a=[74,8,2,56,86,21,65,329,12,34,1,5,96,35]
for i in a:
  if(i%2==0):
    print(i,"is even number.")
  else:
    print(i,"is odd number.")


print()
# task-2:
a=5
var=1
for i in range(1,a+1):
  var*=i
print('Factorial of',a,'is',var)


print()
# task-3:
a=[2,3,4,5,8]
for i in a:
  var=1
  for j in range(1,i+1):
    var*=j
  print('Factorial of',i,'is',var)


print()
# task-4:
a=[12,23,46,68,24,13]
b=[23,12,45,24,62,6]
for i,j in zip(a,b):
  if(i>j):
    print('a')
  else:
    print('b')


print()
# task-5:
a=[12,23,46,68,24,13]
b=[23,12,45,24,62,6]
c=[23,34,56,8,45,1]
for i,j,k in zip(a,b,c):
  print(i,' ',j,' ',k)


print()
# task-6:
a=[21,4,56,78,34,1,6,8,5,34,23,2]
y=23
for i in a:
  if(i>y):
    print(i)

74 is even number.
8 is even number.
2 is even number.
56 is even number.
86 is even number.
21 is odd number.
65 is odd number.
329 is odd number.
12 is even number.
34 is even number.
1 is odd number.
5 is odd number.
96 is even number.
35 is odd number.

Factorial of 5 is 120

Factorial of 2 is 2
Factorial of 3 is 6
Factorial of 4 is 24
Factorial of 5 is 120
Factorial of 8 is 40320

b
a
a
a
b
a

12   23   23
23   12   34
46   45   56
68   24   8
24   62   45
13   6   1

56
78
34
34

In [ ]:
# pattern using for loop:

# task-1:
    ####
print(4*'#')


print()
# task-2:
    ####
    ####
    ####
    ####
for i in range(4):
  print(4*'#')


print()
# task-3:
    #
    ##
    ###
    ####
# 1.
for i in range(4):
  print((i+1)*'#')
print()
# 2.
for i in range(4):
  for j in range(i+1):
    print('#',end='')
  print()


print()
# task-4:
    ####
    ###
    ##
    #
# 1.
for i in range(4,-1,-1):
  print((i)*'#')
print()
# 2.
for i in range(4):
  print((4-i)*'#')
print()
# 3.
for i in range(4,-1,-1):
  for j in range(i):
    print('#',end='')
  print()


print()
# task-5:
       #
      ##
     ###
    ####
# 1.
for i in range(4):
  print((3-i)*' ',(i+1)*'#')
print()
# 2.
for i in range(4):
  for s in range(3-i):
    print(' ',end='')
  for j in range(i+1):
    print('#',end='')
  print()


print()
# task-6:
    ####
     ###
      ##
       #
# 1.
for i in range(4):
  print((i)*' ',(4-i)*'#')
print()
# 2.
for i in range(4):
  for s in range(i):
    print(' ',end='')
  for j in range(4-i):
    print('#',end='')
  print()


print()
# task-7:
       #
      ###
     #####
    #######
# 1.
for i in range(4):
  print((3-i)*' ',((2*i)+1)*'#')
print()
# 2.
for i in range(4):
  for s in range(3-i):
    print(' ',end='')
  for j in range(2*i+1):
    print('#',end='')
  print()

####

####
####
####
####

#
##
###
####

#
##
###
####

####
###
##
#


####
###
##
#

####
###
##
#


    #
   ##
  ###
 ####

   #
  ##
 ###
####

 ####
  ###
   ##
    #

####
 ###
  ##
   #

    #
   ###
  #####
 #######

   #
  ###
 #####
#######

In [ ]:
# task of while loop:-

# task-1:
n=1
while(n<=10):
  print(5*n)
  n+=1


print()
# task-2:
a=5
var=1
n=1
while(n<=a):
  var*=n
  n+=1
print('Factorial of',a,'is',var)

5
10
15
20
25
30
35
40
45
50

Factorial of 5 is 120

In [ ]:
# pattern using while loop:

# task-1:
    #
    ##
    ###
    ####
n=1
while(n<=4):
  print(n*'#')
  n+=1


print()
# taks-2:
    ####
    ###
    ##
    #
# 1.
n=4
while(n>=1):
  print((n)*'#')
  n-=1
print()
# 2.
n=0
while(n<4):
  print((4-n)*'#')
  n+=1


print()
# task-3:
       #
      ###
     #####
    #######
n=0
while(n<4):
  print((3-n)*' ',((2*n)+1)*'#')
  n+=1

#
##
###
####

####
###
##
#

####
###
##
#

    #
   ###
  #####
 #######

In [ ]:
'''
Funtion:-
    def function_name(parameter):

-> parameter can be any number.
-> function_name can be anything.
'''

In [ ]:
def f():
  return 10

In [ ]:
f()

10

In [ ]:
def f1(*a):
  return sum(a)

In [ ]:
f1(12,23,34,45,76)

190

In [ ]:
def f2(a=0,b=0,c=0):
  return a+b+c

In [ ]:
f2(12,343)

355

In [ ]:
f2(a=23,b=45)

68

In [ ]:
# program-1
# -> Write a python code, a function  which is return even or odd number.
def evenodd(n):
  if(n%2==0):
    return "even number"
  else:
    return "odd number"

In [ ]:
evenodd(56)

'even number'

In [ ]:
# program-2
# -> Write a python code, which return max and min value of a list if i give that list to a function.
def f_maximum_list(n):
  return max(n)
def f_minimum_list(n):
  return min(n)

In [ ]:
z=[12,23,34,56,10]
max_val=f_maximum_list(z)
min_val=f_minimum_list(z)
print(max_val)
print(min_val)

56
10

In [ ]:
# program -3
# -> Write a python code,that will return max value by pass two member.
def max2(a,b):
  if(a>b):
    return a
  else:
    return b

In [ ]:
m=max2(12,3)
print(m)

12

In [ ]:
# program-4
# -> Write a python code,that will return max value by pass three member.
def max3(a,b,c):
  if(a>b and a>c):
    return a
  elif(b>a and b>c):
    return b
  else:
    return c

In [ ]:
m=max3(12,4,6)
print(m)

12

In [3]:
# program-5
# -> Write a python code,function that will return max value if i am giving any number of values.
def maximum1(*a):
  return max(a)

In [4]:
maximum1(12,23,45,56)

56

In [ ]:
# call function inside a another function.
def f1(x):
  if(x%2==0):
    return 'even'
  else:
    return 'odd'

def f2(x):
  if(x>100):
    return f1(x)
  else:
    return 'invalid'

In [ ]:
f2(1201)

'odd'

In [ ]:
# calling function inside the sasme function(Recursion).
# 1.
def f1(n):
  if(n==0):
    return 1
  else:
    return n*f1(n-1)

In [ ]:
f1(5)

120

In [ ]:
# 2.
def f2(n):
  if(n==0):
    return 0
  else:
    return n+f2(n-1)

In [ ]:
f2(5)

15

In [ ]:
# lambda function.
# 1.
# -> Write a lambada function simple example.
a=lambda x: x+4
print(a(3))

# 2.
# -> Write a lambada function where i will pass a value which return squre of it.
a=lambda x: x**2
print(a(3))

# 3.
# -> Write a lambada function where i will pass three value which return sum of three number.
a=lambda x,y,z:x+y+z
print(a(23,34,56))

# 4.
# -> Write a lambada function where i will pass two value which return max of it.
a=lambda x,y:max(x,y)
print(a(23,45))

# 5.
# -> Write a lambada function where i will pass three value which return max of it.
a=lambda x,y,z:max(x,y,z)
print(a(23,45,76))

# 6.
# -> Write a lambada function where i will pass three value which return min of it.
a=lambda x,y,z:min(x,y,z)
print(a(23,45,76))

# 7.
# -> Write a lambada function where i will pass a value which return variable is even or odd.
a=lambda x:'even' if(x%2==0) else 'odd'
print(a(34))
print(a(39))

# 8.
# -> Write a lambada function where i will pass two value which return sum of it is greater than 100 or not.
a=lambda x,y:'yes' if((x+y)>100) else 'no'
print(a(34,78))
print(a(12,23))

7
9
113
45
76
23
even
odd
yes
no

In [ ]:
# lambda function on list.
# map() , filter()

# 1.
# -> Write a lambada function on list example.
l1=[12,34,56,71,78,23,59]
a=lambda i:(i%2==0)
print(list(map(a,l1)))

# 2.
# -> Write a lambada function on list which return value is even or odd.
l1=[12,34,56,71,78,23,59]
a=lambda i:'even' if(i%2==0) else 'odd'
print(list(map(a,l1)))

# 3.
# -> Write a lambada function on list which return 'high' if value is greater than 100 else return 'low'.
l2=[120,23,340,130,340,31,35,130,456,134]
a=lambda i:'high' if(i>100) else 'low'
print(list(map(a,l2)))

# 4.
# -> Write a lambada function on list which return 'high' if value is greater than 100 else return 'low'.
l3=[34,56,78,23,1,23,32]
a=lambda i:(i%2==0)
print(list(filter(a,l1)))

[True, True, True, False, True, False, False]
['even', 'even', 'even', 'odd', 'even', 'odd', 'odd']
['high', 'low', 'high', 'high', 'high', 'low', 'low', 'high', 'high', 'high']
[12, 34, 56, 78]